:root {
  --black: #333333;
  --white: #ffffff;
  --purple: #7535ff;
  --gray: #aaaaaa;
}
.progress-container {
  width: auto;
  margin: 5% 10%;
}
.progress-indicator {
  display: flex;
  flex-direction: row;
  margin: 0 20%;
  padding: 0;
  list-style: none;
}

.progress-step {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex: auto;
  position: relative;
}

.progress-step .step-number {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.3px solid transparent;
  background: transparent;
  border-radius: 50%;
  padding: 20px;
  height: 40px;
  width: 40px;
  font-size: 18px;
  z-index: 1;
  color: var(--#7535ff);
  transition: transform 0.5s ease 0.5s, background 0.5s ease,
    border-color 0.5s ease;
}

.progress-step.incomplete .step-number {
  background: #eeeeee;
  border-color: var(--gray);
  color: var(--black);
}

.progress-step.active .step-number {
  background: var(--white);
  border-color: var(--purple);
  color: var(--purple);
  transform: scale(1.2);
}

.progress-step.complete .step-number {
  background: var(--purple);
  color: var(--white);
}

.progress-step h3 {
  margin: 20px 0 0;
  color: var(--gray);
}

.progress-step.active h3 {
  color: var(--#7535ff);
}

.progress-step.complete h3 {
  color: var(--black);
}

.progress-step:not(:last-child):before,
.progress-step:not(:last-child):after {
  content: "";
  position: absolute;
  height: 2px;
  left: 50%;
}

.progress-step:before {
  width: 100%;
  background: var(--gray);
}

.progress-step.complete:after {
  background: var(--purple);
  animation: progressWidth 0.5s ease forwards; 
}

.progress-step.incomplete:after {
  background: var(--purple);
  animation: progressWidthReverse 0.5s ease forwards;
}

@keyframes progressWidth {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes progressWidthReverse {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

.actions {
  display: flex;
  justify-content: center;
}

@media screen and (max-width:600px) {
  .progress-container{
    width: 400px;
    height: 50px;
  }
  
}